doctype html
html
  head
    title The Witcher TRPG Manager
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no")
      link(rel="stylesheet" href="/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/app.css")
  body
    block menu
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
        if user
          a(class="navbar-brand" href="/user/update") #{user.email.slice(0,2).toUpperCase()}
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNav")
          ul(class="navbar-nav")
            li(class="nav-item")
              a(class="nav-link" href="/") Inicio
            if !user
              li(class="nav-item")
                a(class="nav-link" href="/user/login") Login
            else
              li(class="nav-item")
                a(class="nav-link" href="/character") Nuevo personaje
    div(class="separator")
    div(class="container")
      block content
  footer
    block footer
      if error
        div(class="container-fluid") #{error}
      if message
        div(class="container-fluid") #{message}
      script(type="text/javascript" src="/js/jquery-3.2.1.slim.min.js")
      script(type="text/javascript" src="/js/popper.min.js")
      script(type="text/javascript" src="/js/bootstrap.min.js")
